@import './base.css';

html,
body {
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

#preview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#preview iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#sketch-editor {
  width: 100%;
  overflow-y: auto;
}

.element-editor {
  width: 400px;
  border: rgb(190, 190, 190) solid 4px;
  background: var(--color-background);
  padding: 20px 2px 20px 20px;
  border-radius: 20px;
}

.root-element {
  width: 100%;
}

.element-editor:focus {
  border-style: dashed;
}

.element-editor header {
  display: flex;
  justify-content: space-between;
}

.element-editor .children {
  margin-left: 40px
}

.attributes-editor {
  display: grid;
  margin-bottom: 20px;
}

.attribute-editor {
  display: grid;
  grid-template-columns: auto auto;
}

.attribute-editor:focus {
  border-style: dashed;
}

.attribute-editor label {
  width: 10ch;
}

.attribute-editor input {
  justify-self: right;
  width: 30ch;
}

.attribute-editor input:focus {
  border-style: dashed;
  outline: none;
}

.element-editor .description label {
  display: block;
}

.element-editor .description textarea {
  width: 100%;
  background: #282828;
  color: inherit;
  resize: vertical;
}

input,
select,
button {
  border: none;
  background: #282828;
  color: inherit;
}

option {
  background: black;
}