@import './base.css';

html,
body {
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: 1fr 20fr;
  grid-template-columns: auto 1em 1fr;
  height: 100%;
}

#menu-bar {
  display: flex;
  justify-content: start;
  gap: 30px;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 10px
}

h1 {
  font-size: 1rem;
}

.fold-toggle {
  width: 1rem;
  height: 1rem;
  background: var(--color-text);
  cursor: pointer;
  border-radius: 0;
  margin-right: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.folded {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

#preview {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 3;
  width: 100%;
}

#preview iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#sketch-editor {
  width: 100%;
  overflow-y: auto;
  grid-row: 2;
}

.element-editor {
  border: rgb(190, 190, 190) solid 4px;
  background: var(--color-background);
  padding: 20px 2px 20px 20px;
  border-radius: 20px;
}

.root-element {
  width: 100%;
}

.element-editor:focus {
  border-style: dashed;
}

.element-editor header {
  display: flex;
  justify-content: space-between;
}

.element-editor .children {
  margin-left: 40px;
  display: grid;
  justify-items: start;
}

.attributes-editor {
  display: grid;
  margin-bottom: 20px;
}

.attribute-editor {
  display: grid;
  grid-auto-flow: column;

}

.attribute-editor:focus {
  border-style: dashed;
}


.attribute-editor label {
  margin-right: 10px;
}

.attribute-editor input {
  justify-self: right;
  min-width: 40ch;
  font-family: monospace;
}

.attribute-editor input:focus {
  border-style: dashed;
  outline: none;
}

.element-editor .description label {
  display: block;
}

.element-editor .description textarea {
  width: 100%;
  background: #282828;
  color: inherit;
  resize: vertical;
}

.resize-bar {
  display: block;
  cursor: e-resize;
  grid-row: 2;
  grid-column: 2;
}

input,
select,
button {
  border: none;
  background: #282828;
  color: inherit;
}

button {
  cursor: pointer;
  border-radius: 5px;
}

option {
  background: black;
}